<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>数据结转平台</title>
	<link rel="stylesheet" href="css/index.css" type="text/css" />
</head>
<body>
<div class="wrap">
<div class="sidebars">
<div class="menu-head">
	<a href="javascript:;" class="expand"></a>
</div>
	<ul class="menu">
		<li class="config-manage ">
			<a href="javascript:;">
				<i></i>
				<span>团队</span>
				</a>
				<ul class="sub-menu active">
					<li href="page1.html" class="active"><i></i><span>数据源配置</span></li>
					<li><i></i><span>监控配置</span></li>
				</ul>
		</li>
		<li class="job-manage">
			<a href="javascript:;">
				<i></i>
				<span>作业管理</span>
				</a>
				<ul class="sub-menu">
					<li><i></i><span>作业</span></li>
				</ul>
		</li>
		<li class="monitor">
			<a href="javascript:;">
				<i></i>
				<span>监控</span>
				</a>
				<ul class="sub-menu">
					<li><i></i><span>作业状态</span></li>
				</ul>
		</li>
	</ul>
</div>
	
	
	<div class="main">
		<div class="header">
		<a href="javascript:;" class="logo" ></a>
		
		<span class="user-info">
		<ul class="header-right">
			<li class="team">
			<a href="javascript:;">
				<i></i>
				<span>团队</span>
				</a>
			</li>
			<li class="user-guide">
			<a href="javascript:;">
				<i></i>
				<span>使用手册</span>
				</a>
			</li>
			
		</ul>
			<img src="images/default.png" width="34" height="34"/>
			<span>老者</span>
			<a href="javascript:;" class="logout">退出</a>
		</span>
	</div>
		<div class="content">
			ddddd

		</div>
	</div>
	</div>
	<script src="js/jquery-1.11.1.min.js"></script>
	<script src="js/index.js"></script>
</body>
</html>